[package]
name = "crane-core"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.97"

candle-nn = "^0.9.2-alpha.2"
candle-transformers = "0.9.2-alpha.2"
candle-onnx = { version = "0.9.2-alpha.2", optional = true }
candle-flash-attn = { version = "0.9.2-alpha.2", optional = true }
clap = { version = "4.5.32", features = ["derive"] }
hf-hub = "0.4.2"
minijinja = "2.8.0"
serde = "1.0.219"
serde_json = "1.0.140"
tokenizers = "0.22.2"
ribo = "0.1.3"

cudarc = { version = "0.13.9", optional = true }
intel-mkl-src = { version = "0.8.1", optional = true }
hound = "3.5.1"
image = "0.25.9"

# candle-core = { version = "0.9.2-alpha.2", features = ["accelerate"] }

[target.'cfg(all(target_os = "macos", target_arch = "aarch64"))'.dependencies]
candle-core = { version = "0.9.2-alpha.2", features = ["metal"] }

[target.'cfg(all(target_os = "macos", target_arch = "x86_64"))'.dependencies]
candle-core = { version = "0.9.2-alpha.2", features = ["accelerate"] }

[target.'cfg(not(target_os = "macos"))'.dependencies]
candle-core = { version = "0.9.2-alpha.2" }

[build-dependencies]
bindgen_cuda = { version = "0.1.1", optional = true }

[features]
cuda = [
    "candle-core/cuda",
    "candle-nn/cuda",
    "candle-transformers/cuda",
    "dep:bindgen_cuda",
]
cudnn = ["candle-core/cudnn"]
flash-attn = ["cuda", "candle-transformers/flash-attn", "dep:candle-flash-attn"]
mkl = [
    "dep:intel-mkl-src",
    "candle-core/mkl",
    "candle-nn/mkl",
    "candle-transformers/mkl",
]
onnx = ["dep:candle-onnx"]
